<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
    {{ partial "sidebarheader.html" . }}

    {{ if .Site.Params.sidebartitle }}<a href="{{ .Site.BaseURL}}"><h1 class="brand-title">{{ .Site.Params.sidebartitle }}</h1></a>{{ end }}
    {{ if .Site.Params.sidebartagline }}<h2 class="brand-tagline">{{ .Site.Params.sidebartagline }}
    {{ if .Site.Params.sidebartagline2 }}<br>{{ .Site.Params.sidebartagline2 }}{{ end }}
    </h2>{{ end }}

    <nav class="nav">
      <ul class="nav-list">
        {{ range .Site.Menus.main }}
          <li class="nav-item">
          {{ if eq $.Title .Name }}
              <span class="nav-item-selected">{{ .Name }}</span></a>
          {{ else }}
              <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
          </li>
        {{ end }}
      </ul>
    </nav>

    <b>Assignments</b>
    <nav class="nav">
      <ul class="nav-list">
        {{ range .Site.Menus.assignments }}
          <li class="nav-item">
          {{ if eq $.Title .Name }}
              <span class="nav-item-selected">{{ .Name }}</span></a>
          {{ else }}
              <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
          </li>
        {{ end }}
      </ul>
    </nav>

    <b>Classes</b>
    <nav class="nav">
      <ul class="nav-list">
        {{ range .Site.Menus.classes }}
          <li class="nav-item">
          {{ if eq $.Title .Name }}
              <span class="nav-item-selected">{{ .Name }}</span></a>
          {{ else }}
              <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
          </li>
        {{ end }}
      </ul>
    </nav>


    {{ if .Site.Menus.social }}
    <div class="social-buttons">
      {{ range .Site.Menus.social }}
        {{ if .URL }}
        <a href="{{ .URL }}" target="_blank">{{ .Pre }}</a>
        {{ end }}
      {{ end }}
      
    </div>
    {{ end }}

  </div>
</div>
